<!DOCTYPE html>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <canvas ng-mousedown="vm.mousedown($event)" ng-mouseleave="vm.mouseleave($event)" ng-mousemove="vm.mousemove($event)" ng-mouseup="vm.mouseup($event)" width="1000" height="500">
            </canvas>
        </div>
        <div class="col-md-12">
        	<!-- <input type="number" min="0.25" max="3" step="0.25" ng-model="vm.scale" ng-change="vm.zoom(vm.scale)"/> -->
        	<div class="btn-group">
        		<button ng-click="vm.zoomIn()" class="btn btn-default">
        			<span class="glyphicon glyphicon-zoom-in"></span>
        		</button>
        		<button ng-click="vm.zoomOut()" class="btn btn-default">
        			<span class="glyphicon glyphicon-zoom-out"></span>
        		</button>
        		<button ng-click="vm.resetView()" class="btn btn-default">Reset</button>
        		<label>Zoom: {{vm.scale.label}}</label>
        	</div>
        	
        </div>
    </div>
</div>
