<!DOCTYPE html>
<ul class="nav nav-pills">
	<li ng-repeat="item in vm.items" ng-class="vm.getCssClass(item)">
		<a href="{{item.href}}">{{item.text}}</a>
	</li>
</ul>
<!-- <ul class="nav nav-pills">
	<li>
		<a href="#/welcome">Home</a>
	</li>
	<li>
		<a href="#/label-list">Start</a>
	</li>
	<li>
		<a href="#/container">Choose Container</a>
	</li>
	<li>
		<a href="#/content">Choose Content</a>
	</li>
	<li>
		<a href="#/ingredients">Ingredients and Text</a>
	</li>
	<li>
		<a href="#/review">Review and Submit</a>
	</li>
</ul> -->